<!--index.wxml-->
<view class="container">
  <view class = "tile">
    <view style="margin-left: 10px;margin-right: 5px;height:85%;width:45%;background:#2B5F75;color:#ffffff;display: flex;  justify-content: center;align-items: center;">
      <text style="font-size:60px">{{temperature}}</text>
      <text style="font-size:20px">℃</text>
    </view>
    <view style="margin-right: 10px;margin-left: 5px;height:85%;width:45%;background:#8D742A;color:#ffffff;display: flex;  justify-content: center;align-items: center;">
      <text style="font-size:60px">{{humidity}}</text>
      <text style="font-size:20px">%</text>
    </view>
  </view>
  <view class = "tile">
    <image src='{{lightimagepath}}' style="margin-left: 10px;height:85%; width:45%"></image>
    <view class ="button">
      <button class="primarybutton" bindtap="LightOn" >开灯</button>
      <button class ="defaultbutton" bindtap="LightOff" >关灯</button>
    </view>
  </view>
  <view class = "tile">

  </view>
  <view class = "tile">
  
  </view>
  <view class = "tile">
  
  </view>
</view>
